<div id="countries">
<nav class="breadcrumb">
  <%= link_to "Admin", admin_root_path %>
  <%= link_to "Countries", admin_countries_path %></li>
</nav>
<article>
  <header>
    <h1><%= @country.name %></h1>
  </header>
</article>
</div>
