<div id="organizations">
  <header>
    <h1>Add Organization</h1>
  </header>
  <%= simple_form_for([:admin, @organization]) do |f| %>
    <%= f.input :name %>
    <%= f.input :link %>
    <%= f.button :submit %>
  <% end %>
</div>
