#clearance {
  @include outer-container;

  margin-top: 3em;

  form {
    @include span-columns(5);
  }

  fieldset {
    border: 1px solid $light-gray;
    border-radius: 5px;
    padding: 3em;
  }
}
